.v-goods-item-3d {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.v-goods-item-3d img {
  width: 300px;
  border-radius: 12px;
  transition: 0.7s;
  object-fit: cover;
  position: absolute;
}
.v-goods-item-3d-bg {
  z-index: 1;
}
.v-goods-item-3d:hover .v-goods-item-3d-bg {
  transform: scale(0.86);
  /* box-shadow: 0 24px 24px -8px rgba(0, 0, 0, 0.5); */
  /* transform: perspective(300px) rotateX(20deg); */
}

.v-goods-item-3d-ic {
  z-index: 2;
  opacity: 0;
  bottom: 0;
}
.v-goods-item-3d:hover .v-goods-item-3d-ic {
  opacity: 1;
  bottom: 60px;
  transform: perspective(300px) translate3d(0, -20px, 20px);
}
