.test {
  min-height: 100vh;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
}

.test-actions {
  display: grid;
  margin-top: 12px;
  grid-gap: 12px;
  grid-template-columns: repeat(3, 1fr);

  &>button {
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    background-color: #1890ff;

    color: white;
    font-size: 16px;
  }
}

.grid-box {
  margin: 12px;
  border-radius: 8px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(5, 1fr);

  &>img {
    width: 56px;
    height: 56px;
    object-fit: cover;
  }

  &>span {
    font-size: 14px;
    color: #1890ff;
  }
}
.list-box {
  margin: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  &>span {
    font-size: 14px;
    color: #1890ff;
    line-height: 1.2;
    padding: 6px 0;
  }
}