.v-product-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.v-product-item-img {
  width: 600px;
  height: 450px;
  border-radius: 8px;
  background-color: #e3e3e3;
}

.v-product-item-text {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
}
