.erp-report {
  height: 100vh;
  display: flex;
  flex-direction: column;

  color: #1d2129;

  .header-btn {
    display: flex;
    margin-left: 8px;
  }
  .header-icon {
    width: 24px;
    height: 24px;
    margin: 6px 0 6px 6px;
  }
  .flex-box {
    flex: 1;
    padding-top: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
  }

  .create-box {
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
    padding-top: 40px;
  }

  .doc-title {
    color: #1d2129;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }

  .item-title {
    color: white;
    font-size: 20px;
    font-weight: 500;

    height: 48px;
    margin: 28px 28px 0 28px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    background-color: #2cc4d2;
  }
  .item-title.aux {
    margin-bottom: 16px;
  }
  .table-head {
    display: flex;
    font-weight: 500;
    margin: 0 28px;
    border-top: 1px solid #E5E6EB;
  }
  .table-head.aux {
    background-color: #eaf9fb;
  }
  .table-label {
    font-size: 16px;
    font-weight: 500;

    height: 46px;
    margin: 0 28px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    background-color: #eaf9fb;
    border-bottom: 1px solid #E5E6EB;

    &>img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
  .table-body {
    display: flex;
    margin: 0 28px;
  }
  .table-row {
    color: #1d2129;
    font-size: 14px;
    padding: 12px;
    border-bottom: solid 1px #E5E6EB;
  }
  .table-row1 {
    width: 100px;
  }
  .table-row2 {
    width: 280px;
  }
  .table-row3 {
    width: 320px;
  }
  .doc-alert {
    color: #86909C;
    font-size: 12px;
    margin-top: 16px;
    margin-left: 28px;
  }
}
