.v-popup3 {
  width: 300px;
  height: 200px;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  background-color: white;

  /* transition: opacity 1s; */
  animation: popup 1s;
}

@keyframes popup {
  0% {
    opacity: 0;
    scale: 0.3;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes popupOut {
  0% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.3;
  }
}