.v-tb-box {
  width: 100vw;
  height: 56px;
  top: 0;
  left: 0;
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
}

.v-tb-btn {
  margin-left: 24px;
  display: flex;
  align-items: center;
}
.v-tb-logo {
  width: 24px;
  height: 24px;
}
.v-tb-name {
  color: #232323;
  font-size: 14px;
  font-weight: 600;
  margin-left: 8px;
}
.v-tb-tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px 0 0;
}
.v-tb-tab-name {
  color: #232323;
  font-size: 18px;
  font-weight: 600;
}
.v-tb-tab-icon {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: orange;
}

.v-tb-height {
  width: 1px;
  min-height: 56px;
}