.v-user-item {
    height: 120px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.v-user-item:hover {
    box-shadow: 1px 1px 12px 6px rgba(0, 0, 0, 0.06);
}

.v-user-item-top {
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;

    color: #676767;
    font-size: 15px;
}

.v-user-item-name {
    color: #232323;
    font-size: 16px;
    font-weight: bold;
}

.v-user-item-age {
    color: #232323;
    font-size: 16px;
    font-weight: bold;
}

.v-user-item-sex {
    color: #232323;
    font-size: 16px;
    font-weight: bold;
}

.v-user-item-info {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.v-user-info-box {
    width: 65px;
    height: 56px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    background-color: #ff660010;

    color: #676767;
    font-size: 15px;
}

.v-user-info-text {
    color: #ff6600;
    font-size: 16px;
    font-weight: bold;
}