.v-redio3 {
  width: min-content;
  display: flex;
  border: none;
}

.v-redio3 .v-redio3-item {
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 0;

  cursor: pointer;

  color: #333;
  font-size: 16px;
}

.v-redio3 .v-redio3-item input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* border: 1px solid red; */
  margin-right: 6px;
}