.v-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #dfe1e5; */
  font-size: 14px;
  color: #333;

  background-color: white;
}
.v-table-thead {
  width: 100%;
  display: flex;
  overflow: visible;
  background-color: #f9f9f9;
}

.v-table-tbody {
  display: flex;
  flex-direction: column;
}
.v-table-tr {
  width: 100%;
  display: flex;
}
.v-table-cell {
  max-width: 100%;
  text-align: left;

  /* 自动换行 */
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;

}
.v-table-column {
  flex: 1;
  text-align: left;
  padding: 8px 8px;
  /* border: 1px solid #dfe1e5; */
}

/* .v-table th, .v-table td {
  border: 1px solid #dfe1e5;
} */

/* .v-table th {
  background-color: #f2f2f2;
  text-align: left;
} */

.v-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.v-table tr:hover {
  background-color: #ff660010;
}

.v-table tr:active {
  background-color: #e9e9e9;
}