@import './assets/style/ele.css';
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: 'PingFang SC';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 14px;
  color: #323232;

}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex {
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opacity {
  opacity: 0.6;
}

.page-title {
  line-height: 56px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #232323;
}